<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName">
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager" />
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="delete*" propagation="REQUIRED" rollback-for="org.springframework.dao.DataAccessException" />
			<tx:method name="update*" propagation="REQUIRED"  rollback-for="org.springframework.dao.DataAccessException"/>
			<tx:method name="save*" propagation="REQUIRED"  rollback-for="org.springframework.dao.DataAccessException"/>
			<tx:method name="merge*" propagation="REQUIRED"  rollback-for="org.springframework.dao.DataAccessException"/>
			<tx:method name="execute*" propagation="REQUIRED"  rollback-for="org.springframework.dao.DataAccessException"/>
			<tx:method name="find*" propagation="REQUIRED"  rollback-for="org.springframework.dao.DataAccessException" read-only="true"/>
			<tx:method name="list*" propagation="REQUIRED"  rollback-for="org.springframework.dao.DataAccessException" read-only="true"/>
			<tx:method name="*" propagation="REQUIRED"  rollback-for="org.springframework.dao.DataAccessException" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="allServiceImpl" expression="execution(* com.greencloud.service..*.*(..))"/>
		<aop:advisor pointcut-ref="allServiceImpl" advice-ref="txAdvice"/>
	</aop:config>
</beans>


